<!DOCTYPE html>
<html>
<head>
    <title>Крестики-нолики</title>
    <style>
        table {
            border-collapse: collapse;
        }

        table td {
            width: 50px;
            height: 50px;
            text-align: center;
            font-size: 24px;
            border: 1px solid #ccc;
            cursor: pointer;
        }

        button {
            width: 100%;
            height: 100%;
            display: grid;
            border: none;
            background-color: inherit;
        }

    </style>
    <script>
        const roomName = {{ pk }};
        const gameSocket = new WebSocket(
            'ws://' + window.location.host + '/ws/game/' + roomName + '/'
        );

        gameSocket.onmessage = function (e) {
          const data = JSON.parse(e.data);
          const board = data.board;

          // Обновляем значения кнопок на основе позиций
          for (let i = 0; i < board.length; i++) {
            const button = document.querySelector(`button[value="${i}"]`);
            button.textContent = board[i];
          }
        };

        gameSocket.onclose = function (e) {
            console.error('WebSocket closed unexpectedly');
        };

        // Функция для отправки сообщений на сервер через веб-сокет
        function sendPosition(position) {
            const message = {
                'position': position
            };
            gameSocket.send(JSON.stringify(message));
        }

    </script>
</head>

<body>
<div id="game-board">
    <h1>Крестики-нолики</h1>
    <table>
        <tr>
            <td>
                <button value="0" name="position" onclick="sendPosition(0)">{{ board.0 }}</button>
            </td>
            <td>
                <button value="1" name="position" onclick="sendPosition(1)">{{ board.1 }}</button>
            </td>
            <td>
                <button value="2" name="position" onclick="sendPosition(2)">{{ board.2 }}</button>
            </td>
        </tr>
        <tr>
            <td>
                <button value="3" name="position" onclick="sendPosition(3)">{{ board.3 }}</button>
            </td>
            <td>
                <button value="4" name="position" onclick="sendPosition(4)">{{ board.4 }}</button>
            </td>
            <td>
                <button value="5" name="position" onclick="sendPosition(5)">{{ board.5 }}</button>
            </td>
        </tr>
        <tr>
            <td>
                <button value="6" name="position" onclick="sendPosition(6)">{{ board.6 }}</button>
            </td>
            <td>
                <button value="7" name="position" onclick="sendPosition(7)">{{ board.7 }}</button>
            </td>
            <td>
                <button value="8" name="position" onclick="sendPosition(8)">{{ board.8 }}</button>
            </td>
        </tr>
    </table>
</div>
</body>
</html>
